body
{
font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

 /* For mobile phones: */
[class*="col-"] {
    width: 100%;
	background-color: lightblue;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%; background-color: lightgreen;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%; background-color: lightgreen;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%; background-color: lightgreen;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;  background-color: lightgreen;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%; background-color: pink;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%; background-color: pink;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%; background-color: pink;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%; background-color: pink;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid red; es para poner una caja y ver como fluye todo, para pruebas */
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.favoDitos
{
color:red;
}

.nuestro
{
font-size: 10px;
}
.delicious
{
color: blue;
font-size: 11px;
}

.linklist
{
/*position:absolute;
top:100px;
left:5%;
width:75%; */
}

.categorylist
{
/*position:absolute;
top:120px;
left: 80%;
width: 20%;*/
}

.formulario
{
position:absolute;
top:100px;
left:5%;
overflow: auto;
}

.cajaBusqueda
{
  /*position:relative;
  top:0%;
  left:70%; */
  color:magenta;
}
.subheader
{
/*position:absolute;
top:70px;
left:5%;
overflow: auto;*/
}

.link
{
font-size:14px;
}

.resumen
{
font-size: 12px;
position: relative;
left:7%;
}

.fecha
{
color:green;
position: relative;
left:5%;
}

.categoria
{
color:blue;
font-family: sans-serif;
}

.usuario
{
color:orange;
}

a.categoria:visited {text-decoration: none;}
a.categoria:link {text-decoration: none;}
a.categoria:hover {text-decoration: underline;}

ul.listanostyle
{
list-style-type: none;
}
